#wizard_row .dashboard-panel {
    background-color: transparent;
}

#deploy_row .dashboard-panel {
    background-color: transparent;
}

.config-wrapper {
    width: 100%;
    display: table;
}

.config-wrapper>div {
    display: table-row;
}

.config-explorer {
    width: 17em;
    display: table-cell;
    vertical-align: top;
}

.config-content {
    display: table-cell;
    vertical-align: top;
}

.config-content textarea {
    width: 100%;
    height: 25em;
    font-family: monospace;
    background-color: #00000005;
    color: #000;
    cursor: text;
}

#add-config-button {
    margin: 2em;
}