
#saveRow .dashboard-panel{
    background-color: transparent;
}

.modal-dialog .close{
    display: none;
}

.control-group{
    margin-bottom: 20px;
    display: block;
}

.action-button {
    float: left;
    margin-right: 10px;
} 