table.credentials td.name {
    font-weight: bold;
    padding-right: 2em;
}

table.credentials td.value {
    font-family: 'Courier New', Courier, monospace;
}

#status_panel {
    width: 30% !important;
}

#endpoints_panel {
    width: 70% !important;
}